functions-framework==3.0.0
Jinja2==3.0.3
setuptools==60.3.1
seaborn==0.12.2
pandas==1.5.3
scikit-learn==1.2.1
privacy_meter==1.0
tensorflow==2.11.0
tensorflow-datasets==4.8.2
google-cloud-storage==2.7.0